.pagination {
  height: auto;
  width: auto;
  background-color: blue;
  padding: 2rem;
  position:absolute;
}

.paginator {
  position: absolute;
  /* height: 2rem; */
  min-width: 5px;
  padding: 5px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-top: 5rem;
  background-color: white;
}

tr{
  border: 1px solid black;
}
.pages{
   border: 2px solid black;
   cursor: pointer;
   background-color: grey;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2rem;
}